.miniCalendar {
  --cellSize: 1.75rem;
  max-inline-size: 12.25rem;
}

.miniCalendar-header {
  display: grid;
  grid-template-columns: repeat(7, var(--cellSize));
  grid-template-rows: var(--cellSize);
  text-align: center;
  font: var(--body3-regular);
  color: var(--gray30);
  line-height: var(--cellSize);
  margin-block-end: .5rem;
}

.miniCalendar-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline-start: .25rem;
  color: var(--gray30);
  font: var(--body1-medium);
}

.miniCalendar-month {
  display: grid;
  grid-template-columns: repeat(7, var(--cellSize));
  grid-template-rows: repeat(6, var(--cellSize));
  text-align: center;
  font: var(--body3-regular);
  color: var(--gray30);

}

/* .miniCalendar-date {
  font: var(body );
} */


.miniCalendar-monthDay {
  line-height: var(--cellSize);
}

.miniCalendar-monthDay.is-selected {
  background: var(--blue10);
  color: var(--white);
  border-radius: 50%;
}
.miniCalendar-monthDay.is-inactive {
  color: var(--gray20);
}

@media screen and (prefers-color-scheme: dark) {
  .miniCalendar-monthDay.is-selected {
    background: white;
    color: #000;
  }
}